<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leap Motion | Our Story</title>
    <meta name="description" content="We&#x27;ve been obsessed with one question: how can we interact with computers in a better way? We finally found the answer the Leap Motion controller. Now it&#x27;s time to have fun.">
    <meta name="author" content="LeapMotion">
    <link href="public/css/leap.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="public/js/leap.js"></script>

    <!-- stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body data-menu-id="company" data-submenu-id="overview">
    <div class="wrapper">
      <!-- Main navigation
      ================================================== -->
      <nav class="navbar row container company">
  <a href="https://www.leapmotion.com/"><img alt="LeapMotion" class="brand" src="public/css/img/leapmotion-logo.png" /></a>
  <ul class="nav pull-right nav-container">
    <li><a href="https://www.leapmotion.com/product" data-menu-id="product">Product</a></li>
    <li class="active"><a href="https://www.leapmotion.com/our_story" data-menu-id="company">Our Story</a></li>
    <li><a href="https://www.leapmotion.com/developer_applications" data-menu-id="developer_application">Developers</a></li>
    <li><a href="https://forums.leapmotion.com/forum.php" data-menu-id="forums">Forums</a></li>
    <li><a href="https://www.leapmotion.com/jobs" data-menu-id="jobs">Careers</a></li>
    <li><a href="https://www.leapmotion.com/preorder" class="btn green">Pre-Order</a></li>
  </ul>
</nav>

      <section class="navbar row container company-menu">
        <ul class="nav pull-left nested-nav nav-container">
          <?php foreach($menu as $item): ?>
          <li <?php if(F3::get('PARAMS.slug')==$item->slug){ echo 'class="active"';} ?>><a href="<?php echo $item->slug ?>" data-menu-id="overview"><?php echo $item->title ?></a></li>
          <li class="divider-vertical"></li>
          <?php endforeach; ?>
        </ul>
</section>


      <!-- Content area - "Yield"
      ================================================== -->
      <div class="container">
        
        
      </div>

      <div role="main" class="our-story">
        
  <section class="container">
  <div class="row">
    <?php require('partials/'.F3::get('PARAMS.slug').'.html'); ?>
  </div>
</section>


      </div>

      <!-- Footer
      ================================================== -->
      <footer class="navbar clearfix container">
  <ul class="nav pull-left">
    <li><a href="https://www.leapmotion.com/contact">Contact</a></li>
    <li class="divider-vertical"></li>
    <li><a href="https://www.leapmotion.com/privacy">Privacy Policy</a></li>
    <li class="divider-vertical"></li>
    <li><a href="https://www.leapmotion.com/terms">Terms and Conditions</a></li>
    <p>Copyright &copy; 2012, Leap Motion, Inc </p>
  </ul>
  <ul class="nav pull-right social">
    <li><a href="https://www.facebook.com/LeapMotion"><i class='icon ss-icon ss-social-circle'>facebook</i></a></li>
    <li><a href="https://twitter.com/LeapMotion"><i class='icon ss-icon ss-social-circle'>twitter</i></a></li>
    <li><a href="https://plus.google.com/106312624963623427811"><i class='icon ss-icon ss-social-circle'>googleplus</i></a></li>
    <li><a href="https://www.leapmotion.com/our_story/blog" data-menu-id="blog"><i class='icon ss-icon ss-social-circle'>rss</i></a></li>
  </ul>
</footer>

    </div>
  </body>
</html>
